In [148]:
#import library
import pandas as pd
import numpy as np

In [149]:
#read csv file
job_data = pd.read_csv("dfall_clean.csv")
job_data.head()

,id,title,company_name,category_label,category_tag,country,location_display,location_area,latitude,longitude,contract_type,contract_time,salary_min,salary_max,salary_mid,salary_is_predicted,created_dt,created_date,redirect_url,adref
0,5410474609,Mechanical Pipefitter,Dodd Group,Trade & Construction Jobs,trade-construction-jobs,United Kingdom,"King's Lynn, Norfolk",UK > Eastern England > Norfolk > King's Lynn,52.751999,0.395357,permanent,full_time,40518.74,40518.74,40518.74,1,2025-09-22 09:28:13+00:00,2025-09-22,https://www.adzuna.co.uk/jobs/details/54104746...,eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTQxMDQ3NDYwOSIsI...
1,5381519011,International Trade Policy Editor [Startup Pol...,Applio Ventures,Graduate Jobs,graduate-jobs,United Kingdom,"London, UK",UK > London,NaN,NaN,permanent,full_time,64000.00,64000.00,64000.00,0,2025-09-03 21:20:59+00:00,2025-09-03,https://www.adzuna.co.uk/jobs/details/53815190...,eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTM4MTUxOTAxMSIsI...
2,5389371380,Domestic Cleaner,Maid2Clean Suffolk Ltd,Domestic help & Cleaning Jobs,domestic-help-cleaning-jobs,United Kingdom,"Diss, Norfolk",UK > Eastern England > Norfolk > Diss,52.377602,1.106380,permanent,part_time,13.00,13.00,13.00,0,2025-09-08 15:49:25+00:00,2025-09-08,https://www.adzuna.co.uk/jobs/details/53893713...,eyJhbGciOiJIUzI1NiJ9.eyJzIjoiRWtwZjc5cWI4QkdZM...
3,5403097985,Early Years BABY Room Leader,Jesters Childcare Essex,Teaching Jobs,teaching-jobs,United Kingdom,UK,UK,NaN,NaN,permanent,full_time,26707.00,29494.00,28100.50,0,2025-09-17 15:00:12+00:00,2025-09-17,https://www.adzuna.co.uk/jobs/details/54030979...,eyJhbGciOiJIUzI1NiJ9.eyJpIjoiNTQwMzA5Nzk4NSIsI...
4,5400306117,Senior Back-End Engineer,Eligible Limited,IT Jobs,it-jobs,United Kingdom,UK,UK,NaN,NaN,permanent,full_time,80000.00,NaN,80000.00,0,2025-09-15 17:51:23+00:00,2025-09-15,https://www.adzuna.co.uk/jobs/details/54003061...,eyJhbGciOiJIUzI1NiJ9.eyJzIjoiRWtwZjc5cWI4QkdZM...

In [150]:
# columns
job_data.columns

Index(['id', 'title', 'company_name', 'category_label', 'category_tag',
       'country', 'location_display', 'location_area', 'latitude', 'longitude',
       'contract_type', 'contract_time', 'salary_min', 'salary_max',
       'salary_mid', 'salary_is_predicted', 'created_dt', 'created_date',
       'redirect_url', 'adref'],
      dtype='object')

In [151]:
#total rows and columns
job_data.shape

(4000, 20)

In [152]:
job_data.describe()

,id,latitude,longitude,salary_min,salary_max,salary_mid,salary_is_predicted
count,4.000000e+03,3257.000000,3257.000000,1.544000e+03,1.535000e+03,1.544000e+03,4000.000000
mean,5.316432e+09,46.967893,-8.814865,4.549448e+04,5.627804e+04,5.080285e+04,0.139750
std,2.036443e+08,5.306513,34.321400,9.365883e+04,2.223390e+05,1.567656e+05,0.346771
min,2.983960e+09,18.081052,-157.739444,0.000000e+00,1.000000e+00,1.000000e+00,0.000000
25%,5.322522e+09,43.934213,-1.499100,2.200000e+04,2.543800e+04,2.405000e+04,0.000000
50%,5.389136e+09,47.424029,4.919448,3.461617e+04,4.000000e+04,3.750000e+04,0.000000
75%,5.406462e+09,51.503378,8.518157,5.530624e+04,6.156134e+04,5.750000e+04,0.000000
max,5.418264e+09,57.579973,18.227159,2.000000e+06,5.000000e+06,3.500000e+06,1.000000

In [153]:
#information about dataset 
job_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id                   4000 non-null   int64
 1   title                4000 non-null   object
 2   company_name         3786 non-null   object
 3   category_label       4000 non-null   object
 4   category_tag         4000 non-null   object
 5   country              4000 non-null   object
 6   location_display     4000 non-null   object
 7   location_area        4000 non-null   object
 8   latitude             3257 non-null   float64
 9   longitude            3257 non-null   float64
 10  contract_type        846 non-null    object
 11  contract_time        985 non-null    object
 12  salary_min           1544 non-null   float64
 13  salary_max           1535 non-null   float64
 14  salary_mid           1544 non-null   float64
 15  salary_is_predicted  4000 non-null   int64
 16  created_dt           4000 non-null   object
 17  created_date         4000 non-null   object
 18  redirect_url         4000 non-null   object
 19  adref                4000 non-null   object
dtypes: float64(5), int64(2), object(13)
memory usage: 625.1+ KB

In [154]:
#drop the columns

#job_data.drop(columns = ['redirect_url','adref','created_dt','salary_mid', 'location_area', 'category_tag'], inplace = True)
#job_data.head()

job_data.drop(["redirect_url","adref",'created_dt','salary_mid', 'location_area','category_tag'], axis = 1, inplace = True)
job_data.head()

,id,title,company_name,category_label,country,location_display,latitude,longitude,contract_type,contract_time,salary_min,salary_max,salary_is_predicted,created_date
0,5410474609,Mechanical Pipefitter,Dodd Group,Trade & Construction Jobs,United Kingdom,"King's Lynn, Norfolk",52.751999,0.395357,permanent,full_time,40518.74,40518.74,1,2025-09-22
1,5381519011,International Trade Policy Editor [Startup Pol...,Applio Ventures,Graduate Jobs,United Kingdom,"London, UK",NaN,NaN,permanent,full_time,64000.00,64000.00,0,2025-09-03
2,5389371380,Domestic Cleaner,Maid2Clean Suffolk Ltd,Domestic help & Cleaning Jobs,United Kingdom,"Diss, Norfolk",52.377602,1.106380,permanent,part_time,13.00,13.00,0,2025-09-08
3,5403097985,Early Years BABY Room Leader,Jesters Childcare Essex,Teaching Jobs,United Kingdom,UK,NaN,NaN,permanent,full_time,26707.00,29494.00,0,2025-09-17
4,5400306117,Senior Back-End Engineer,Eligible Limited,IT Jobs,United Kingdom,UK,NaN,NaN,permanent,full_time,80000.00,NaN,0,2025-09-15

In [155]:
#null values
job_data.isnull().sum()

id                        0
title                     0
company_name            214
category_label            0
country                   0
location_display          0
latitude                743
longitude               743
contract_type          3154
contract_time          3015
salary_min             2456
salary_max             2465
salary_is_predicted       0
created_date              0
dtype: int64

In [159]:
#Rename columns
job_data = job_data.rename({
    'title ': 'job_title',
    'company_name': 'company',
    'category_label': 'job_category',
    'location_display' : 'location',
    'salary_min' : 'min_salary',
    'salary_max' : 'max_salary',
    'salary_is_predicted' : 'predicted_salary',
    'created_date  ' : 'date_posted'
    })